node_modules
dist
.git
.github
__tests__
tests
src/keboola_mcp_server
3.10.venv
3.12.venv
.venv
.tox
.mypy_cache
.pytest_cache
*.venv
coverage.xml
.coverage
test-results.xml
feature_spec
docs
*.md
!README.md
.env
.mcp.json
uv.lock
pyproject.toml
